<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="author" content="Kamran Mubarik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>E-Commerce Online Shop</title>
    <!-- Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body>
    <!-- Your HTML content goes here -->
    {% block content %}{% endblock %}

    <!-- Your other scripts go here -->
</body>

</html>
